  <div class="flex flex-col absolute top-0 bottom-0 left-0 right-0">
      <mat-toolbar class="z-10 flex justify-between">
        <picture class="flex gap-4">
          <button mat-button="elevated"
                  (click)="snav.toggle()"
                  matTooltip="Menú"
                  aria-label="Botón que muestra la barra lateral"
                  class="!border-2 border-amber-200"
          >
            <mat-icon fontIcon="menu" aria-label="Menú" class="scale-125 !m-0"></mat-icon>
          </button>
          <img mat-card-image [ngSrc]="logo" alt="Logo" width="80" height="80" class=""/>
        </picture>
        <a
          mat-button="elevated"
          aria-label="Volver a la página informativa"
          matTooltip="Volver"
          href="https://www.sergiogonzalez.tech"
        >
          <mat-icon fontIcon="logout" aria-label="Volver a la página informativa" class="scale-125"></mat-icon>
        </a>
      </mat-toolbar>

    <mat-sidenav-container class="example-sidenav-container">
      <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
                   [fixedInViewport]="isMobile()" fixedTopGap="56">
        <mat-nav-list>
          @for (nav of fillerNav; track nav) {
            <a mat-list-item>{{nav}}</a>
          }
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        @for (content of fillerContent; track content) {
          <p>{{content}}</p>
        }
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
